html {
  font-size: $base-font-size;
    
  @include tablets {
    font-size: $base-font-size - 1px;
  }

  @include phones {
    font-size: $base-font-size - 2px;
  }
}
html, 
body {
  height: 100%;
}
body {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}
.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.container {
  margin: 0 auto;
  width: 95%;
  max-width: $container-width;
  position: relative;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}
table{
  border-collapse: collapse;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
}
p {
  padding: 0;
  margin: 0;
  line-height: 1.3;
}
footer {
  position: relative;
  width: 100%;
}
* {
  box-sizing: border-box;

}
img {
  display: block;
  max-width: 100%;
}


