@import "./normalize.scss";
@import "https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&display=swap";
@import "_layout.scss";
@import "blocks/_hero.scss";
@import "blocks/_header.scss";
@import "blocks/_features.scss";
@import "blocks/_feature.scss";
@import "blocks/_btn.scss";
@import "blocks/_section.scss";
@import "blocks/_headline.scss";
@import "blocks/_benefits.scss";
@import "blocks/_benefit.scss";
@import "blocks/_benefits-section.scss";
@import "blocks/_reviews.scss";
@import "blocks/_interactive-avatar.scss";
@import "blocks/_form.scss";
@import "blocks/_delivery.scss";
@import "blocks/_radio.scss";
@import "blocks/_fixed-menu.scss";