.bx-wrapper {
  box-shadow: none;
  border: none;
  background-color: transparent;
}

.slider-section {
  position: relative;
  background-color: #f8faf9;

  &:before {
    content: url(../images/leaf-and-berries.png);
    position: absolute;
    right: 0;
    bottom: rem(-100px);

    @include tablets {
      right: rem(-40px);
    }

    @include phones {
      bottom: rem(-360px);
    }
  }

  @include phones{
    padding: rem(124px) 0;
  }
}

.carousel__item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include tablets {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
}
.carousel__col {
  width: 50%;
  margin-right: rem(60px);
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:last-child{
    margin-right: 0;
  } 

  @include tablets {
    margin-right: 0;
    align-items: center;
    width: 100%;
  }
}
.carousel__pic {
  @include tablets {
    width: rem(370px);
    height: rem(350px);
  }
  @include phones {
    width: rem(200px);
    height: rem(180px);
  }
}
.arrow {
  position: absolute;
  display: block;
  top: 50%;

  @include tablets{
    top: 25%;
  }
  @include phones {
    top: 12%;
  }

  &--left {
    right: 100%;
    transform: rotate(180deg);

    @include tablets {
      right: 85%;
    }
  }

  &--right {
    left: 100%;

    @include tablets{
      left: 85%;
    }
  }
}
.arrow-icon {
  width: rem(13px);
  height: rem(28px);
}

.product__ingredients {
  margin-bottom: rem(37px);

  @include tablets {
    display: none;
  }
}
.ingredients {
  position: relative;
  display: inline-block;

  &:hover {
    .ingredients__dropdown {
      opacity: 1;
      visibility: visible;
    }
  }
}
.ingredients__btn {
  width: rem(90px);
  height: rem(90px);
  background: #61c4d9;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
    
  &:hover {
    background: #60aacc;
  }
  
}
.ingredients__btn-pic {
  margin-bottom: rem(5px);
}
.chocolate-icon {
  width: rem(51px);
  height: rem(51px);
  display: block;
  fill: #fff;
}
.ingredients__btn-text {
  font-size: rem(14px);
  font-weight: bold;
  text-transform: uppercase;
}
.carousel__heading {
  font-weight: bold;
  font-size: rem(36px);
  color: #000000;
  width: 82%;
  margin-bottom: rem(22px);
  text-transform: uppercase;

  @include tablets {
    font-size: rem(30px);
  }
}
.product-description {
  width: 78%;
  font-size: rem(18px);

  @include tablets {
    width: 70%;
  }
  @include phones {
    width: 72%;
  }
  &__ingredients {
    margin-bottom: rem(38px);
  }

  &__section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: rem(30px);

    &:last-child {
      margin-bottom: 0;
    }

    @include tablets {
      justify-content: center;
      text-align: left;
    }
  }

  &__cal {
    margin-right: rem(55px);
  }
}
.product-description__numbers--bold {
  font-weight: bold;
  color: #000;
}
.product-description__price {
  color: #151515;
  font-size: rem(60px);
  font-weight: 300;
  margin-right: rem(31px);

  @include phones {
    font-size: rem(45px);
  }
}
.ingredients__dropdown {
  position: absolute;
  background-color: #ffffff;
  border: solid 1px #eeeeee;
  border-radius: 5px;
  top: 0;
  left: rem(90px);
  padding: rem(23px) rem(20px);
  opacity: 0;
  transition: opacity .5s, linear .3s;
  z-index: 1000;
  color: #363636;
  width: 279px;
  height: 329px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  visibility: hidden;


  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-icon {
    margin-right: rem(20px);
  }

  &-text {
    font-weight: 500;
  }

  &-weight {
    margin-left: auto;
  }
}
.dropdown-icon {
  width: rem(35px);
  height: rem(35px);
}