.gamburger {
  position: fixed;
  display: none;
  right: 3%;
  top: rem(35px);
  
  &-icon {
    width: rem(24px);
    height: rem(22px);
    fill: #ffffff;
    stroke: #60aacc;
  } 

  @include tablets {
    display: block;
  }
}
