.benefits-section {
  position: relative;
  background: url("/images/grey-leaf.png") left top 57% no-repeat;
  
  &:before {
    content: url("/images/raspberry.png");
    position: absolute;
    bottom: -80px;
    left: 0;
  }
}