.benefits {
  display: flex;

  @include phones {
    flex-direction: column;
  }
}
.benefits__item {
  flex: 1;
  position: relative;
  padding-right: rem(75px);

  @include phones {
    display: flex;
    margin-bottom: rem(18px);
    padding-right: 0;
  }

  &::before {
    content: "";
    position: absolute;
    background: url("../images/separator.png")center center no-repeat;
    width: rem(67px);
    height: rem(21px);
    top: 19%;
    right: 0;

    @include tablets {
      display: none;
    }
  }

  &:last-child {
    padding-right: 0;

    &::before {
      display: none;
    }
  }
}