.benefits {
  display: flex;

  @include phones {
    flex-direction: column;
  }
}
.benefits__item {
  flex: 1;
  position: relative;
  padding-right: rem(70px);

  @include phones {
    display: flex;
    margin-bottom: rem(18px);
    padding-right: 0;;
  }

  &::before {
    content: url("../images/separator.png");
    position: absolute;
    top: rem(50px);
    right: 0;
    transform: translateX(50%);

    @include tablets {
      display: none;
    }
  }

  &:last-child {
    padding-right: 0;

    &::before {
      display: none;
    }
  }
}