.benefit {
  text-align: center;
}
.benefit__image {
  margin-bottom: 18px;
}
.benefit__image-wrapper {
  display: inline-block;
  width: 126px;
  height: 126px;
  position: relative;
  background-color: #f2f5f4;
  border-radius: 50%;
  overflow: hidden;
}
.benefit__icon {
  width: 75px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.benefit__title {
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 12px;
  color: black;
}
.benefit__desc {
  font-weight: 300;
}