.benefits-section {
  position: relative;
  background: url("../images/grey-leaf.png") left top 57% no-repeat;
  padding: rem(55px) 0;

  @include phones {
    background: none;
  }

  @include tablets {
    background-position: left top ;
  }
  
  &:before {
    content: url("../images/raspberry.png");
    position: absolute;
    bottom: rem(-80px);
    left: 0;

    @include tablets {
      bottom: rem(-160px);
    }
    @include phones {
      display: none;
    }
  }
}