.contacts {
  font-style: normal;

  &__addres{
    color: #060606;
  }

  @include phones {
  margin-bottom: rem(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: rem(21px);
  } 
}
.contacts-phone.header__contacts-phone {
  @include tablets {
    display: none;
  }
}
.contacts-phone.footer__contacts-phone {
  color: #365a49;
  margin-left: 0;
  font-size: rem(21px);
}
.contacts-phone {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-size: rem(24px);

    &::before {
    content: "";
    display: block;
    background: url("../images/phone.png") center center / cover no-repeat;
    height: rem(11px);
    width: rem(12px);
    margin-right: rem(6px);
  }
}