.delivery-section {
  background: url("../images/pattern.png")center center no-repeat;
  background-size: cover;
  position: relative;

  @include tablets {
    padding: rem(186px) 0;
  }

  &::before {
    content: url("../images/one-leaf.png");
    position: absolute;
    right: 0;
    bottom: rem(60px);

    @include tablets {
      display: none;
    }
  }
  
  &:after {
    content: url("../images/one-berry.png");
    position: absolute;
    left: rem(20px);
    bottom: rem(60px);

    @include tablets {
      display: none;
    }
  }
}