.form {
  display: flex;
  
  @include tablets {
    flex-direction: column;
    padding: 0 rem(153px);
  }

  @include phones {
    padding: 0 rem(10px);
  }
}
.form__col {
  flex: 1;
  margin-right: rem(20px);

  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    margin-right: 0;
  }
}
.form__row {
  display: flex;
  margin-bottom: rem(9px);

  &:last-child {
    margin-bottom: 0;
  }
}
.form__block {
  flex: 1;
  margin-right: rem(20px);

  &:last-child {
    margin-right: 0;
  }
}
.form__input {
  width: 100%;
  padding: rem(8px) rem(11px);
  border: rem(3px) solid transparent;

  &--textarea {
    height: rem(180px);
    resize: none;
  }
  &:focus {
    border-color: #dee2bd;
    outline: none;
  }
}
.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: rem(7px);

    @include phones {
      justify-content: center;
    }
  &--calling {
    margin-bottom: rem(42px);
  }
}
.form__btns {
  display: flex;
  justify-content: center;
}