.header {
  display: flex;
  align-items: center;
  
  @include tablets {
    justify-content: space-between;;
  }
}
.menu {
  @include tablets {
    display: none;
  }
}
.menu__list {
  display: flex;
  align-items: center;
}
.menu__item {
  margin-right: rem(27px);
}
.menu__item:last-child {
  margin-right: 0;
}
.contacts-phone.header__contacts-phone {
  @include tablets {
    display: none;
  }
}
.contacts-phone {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-size: rem(24px);

    &::before {
    content: "";
    display: block;
    background: url("../images/phone.png") center center / cover no-repeat;
    height: rem(11px);
    width: rem(12px);
    margin-right: rem(6px);
  }
}