.header {
  display: flex;
  align-items: center;
}
.menu__list {
  display: flex;
  align-items: center;
}
.menu__item {
  margin-right: rem(27px);
}
.menu__item:last-child {
  margin-right: 0;
}
.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-size: rem(24px);

  &::before {
    content: "";
    display: block;
    background: url("../images/phone.png") center center / cover no-repeat;
    height: rem(11px);
    width: rem(12px);
    margin-right: rem(6px);
  }
}