.header {
  display: flex;
  align-items: center;
}
.menu__list {
  display: flex;
  align-items: center;
}
.menu__item {
  margin-right: 27px;
}
.menu__item:last-child {
  margin-right: 0;
}
.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-size: 24px;

  &::before {
    content: "";
    display: block;
    background: url("../images/phone.png") center center / cover no-repeat;
    height: 11px;
    width: 12px;
    margin-right: 6px;
  }
}