.hero-section {
  background:url("../images/big-leaf.png")right bottom no-repeat;
  background-color: #61c4d9;
  color: #ffffff;
  padding: rem(25px) 0 rem(25px);
  position: relative;

  @include tablets {
    padding-bottom: rem(181px);
    background-position: right top 20%;
    height: 100%;
  }
  @include phones {
    padding-bottom: rem(102px);
  }

  &:before, &:after {
    @include tablets {
    display: none;
    }
  }

  &:before {
    content: url("../images/little-leaf.png");
    position: absolute;
    bottom: rem(-40px);
    left: 2%;
  }

  &::after {
    content: url("../images/berries.png");
    position: absolute;
    bottom: rem(-40px);
    right: 0;
  }
}
.hero__title-section {
  width: 40%;

  @include tablets {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    &::before {
      content: "";
      margin-bottom: 12px;
      background: url("../images/chocolates-media.png") center center no-repeat;
      width: rem(317px);
      height: rem(330px);
      background-size: contain;
    }
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background: url("../images/chocolates.png") right center / 50% auto no-repeat,;

  @include tablets {
    background: none;
  }
}
.hero__main-title {
  font-size: rem(48px);
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: rem(5px);
}
.hero__title-desc {
  font-size: rem(21px);
  margin-bottom: rem(28px);

  @include tablets {
    padding: 0 26%;
  }

  @include phones {
    padding: 0 15%;
  }
}
.hero__icons-section {
  @include tablets {
    display: none;
  }
}
