.hero-section {
  background:url("../images/big-leaf.png")right bottom no-repeat;
  background-color: #61c4d9;
  color: #ffffff;
  padding: 25px 0 45px;
  position: relative;

  &:before {
    content: url("../images/little-leaf.png");
    position: absolute;
    bottom: -40px;
    left: 2%;
  }

  &::after {
    content: url("../images/berries.png");
    position: absolute;
    bottom: -40px;
    right: 0;
  }
}
.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background: url("../images/chocolates.png") right center / 50% auto no-repeat,;
}
.hero__text-section {
  width: 40%;
}
.hero__title {
  font-size: 48px;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
}
.hero__title-desc {
  font-size: 21px;
  margin-bottom: 28px;
}