.menu-section {
  background: url("../images/bg-menu.png")center left no-repeat;
  background-size: cover;
  position: relative;
  color: #fff;
  overflow:hidden;
}
.menu-acco {
  position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
  display: flex;
  width: 100%;
  justify-content: flex-end;

  &__item {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: auto;
    transition: width .5s ease-in;

    @include phones {
      z-index: 30;
    }
  }

  &__hidden {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    z-index: 30;
    width: 0;
    overflow: hidden;
    transition: width .5s ease-in;
  }

  &__btn {
    display: block;
    height: 100%;
    position: relative;
    width: rem(100px);
    background-size: cover;
    background-position: right;

    &--milk {
      background: url("../images/type-milk.png");
      
    }

    &--honey {
      background: url("../images/type-honey.png");
    }

    &--berry {
      background: url("../images/type-berry.png");
    }
  }

  &__title {
    font-size: rem(48px);
    text-align: center;
    white-space: nowrap;
    position: absolute;
    left: 50%;
    top: 100%;
    margin-top: rem(-46px);
    transform: rotate(-90deg) translateY(-50%);
    transform-origin: 0 0; 
  }

  &__content {
    height: 100%;
    flex: 1;
    overflow: hidden;
    background-color: rgba(0,0,0,.8);
    position: relative;
  }
  
  &__close {
    display: block;
    position: absolute;
    top: rem(30px);
    right: rem(30px);

    &-icon{
      fill: #fff;
      opacity: .7;
      width: rem(18px);
      height: rem(18px);
    }
  }

  &__text {
    padding: rem(50px) rem(120px) 0 rem(27px);
    line-height: 1.5;

    @include phones {
      padding-right: rem(70px);
    }
  }
}
.menu-acco__item--active {
  width: 57%;

  @include tablets {
    width: 100%;
  }
  .menu-acco__hidden {
    width: 100%;
  }

  @include phones {
    z-index: 35;
    position: absolute;
  }
}

