.menu--fixed {
  opacity: 0;
  transition: all .5s;
  display: flex;
  position: fixed;
  justify-content: center;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 100%;
  background-color: rgba(48, 52, 52, 0.99);
}

.menu--active {
  bottom: 0;
  opacity: 1;
  
  .menu__list {
    flex-direction: column;
    margin: rem(77px) 0;
    font-size: rem(32px);
    color: #ffffff;
    justify-content: center;
  }
  .menu__item {
    margin-right: 0;
    margin-bottom: rem(32px);

    &:last-child {
      margin-bottom: 0;
    }
  }
  .close {
    position: absolute;
    right: 3%;
    top: rem(35px);
  }
  .close-icon {
    width: rem(24px);
    height: rem(22px);
    fill: #ffffff;
  }
}