.radio {
  display: flex;
  cursor: pointer;
  user-select: none;

  &--checkbox {
    .radio__visible {
      border-radius: 0;

        &:before {
          background: url("../../images/tick.png") center center no-repeat;
        }
    }
  }
}
.radio__elem {
  display: none;

  &:checked ~ .radio__visible {
    &::before {
      display: block;
    }
  }
}
.radio__visible {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  position: relative;
  background: #ffffff;

  &::before {
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #365a49;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}