.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-right: rem(40px);

  @include phones {
    margin-bottom: rem(10px);
  }

  &--checkbox {
    .radio__visible {
      border-radius: 0;  
    }
  }
        
  &:last-child {
    margin-right: 0;
  }
}
.radio__elem {
  display: none;

  &:checked ~ .radio__visible {
    &--icon {
      display: block;
    }
  }
}
.radio__visible {
  width: rem(26px);
  height: rem(26px);
  border-radius: 50%;
  position: relative;
  background: #ffffff;
  margin-right: rem(9px);
  
  &--icon { 
    width: rem(11px);
    height: rem(9px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }
}