.reviews-section {
  position: relative;
  padding: rem(90px) 0;
  
  &::before {
    content: url("../images/bw-leaf.png");
    position: absolute;
    left: 0;
    bottom: rem(-235px);
  }
  &:after {
    content: url("../images/strawberry.png");
    right: 0;
    top: 0;
    position: absolute;
  }
}
.reviews__display {
  background: url("../images/bw-berry.png") right top no-repeat;
  padding: rem(50px) rem(45px) rem(34px);
  margin-bottom: rem(15px);
  overflow: hidden;
  position: relative;

  &:before {
    content:"";
    display: block;
    width: rem(90px);
    height: rem(90px);
    background-color: white; 
    border-radius: 50%;  
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: rem(-65px);
  }
}
.reviews__display-inner {
  display: flex;

  @include tablets {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}
.reviews__avatar {
  width: rem(254px);
  height: rem(260px);

  @include tablets {
    width: rem(140px);
    height: rem(140px);
    margin-bottom: rem(15px);
  }

  @include phones {
    margin-bottom: 0;
    width: rem(121px);
    height: rem(124px);
    margin-bottom: rem(5px);
  }
}
.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.reviews__content {
  flex: 1;
  margin-left: rem(15px);
  
  @include tablets {
    margin-left: 0;
  }

  @include phones {
    margin-bottom: 0;
  }
}
.reviews__title {
  font-size: rem(30px);
  font-weight: bold;
  margin-bottom: rem(10px);
  color: black;

  @include phones {
    margin-bottom: 0;
  }
}
.reviews__text {
  padding-right: rem(150px);
  margin-bottom: rem(30px);

  @include tablets {
    padding: 0 rem(40px);
    margin-bottom: rem(10px);
  }

  @include phones {
    padding: 0;
  }
}
.reviews__author {
  color: black;
  font-size: rem(18px);
  font-weight: 500;
}
.reviews__switcher {
  display: flex;
  justify-content: center;
}