.reviews-section {
  position: relative;
  
  &::before {
    content: url("./images/bw-leaf.png");
    position: absolute;
    left: 0;
    bottom: -235px;
  }
  &:after {
    content: url("./images/strawberry.png");
    right: 0;
    top: 18px;
    position: absolute;
  }
}
.reviews__display {
  background: url("./images/bw-berry.png");
  padding: 50px 45px 34px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  
  &:before {
    content:"";
    display: block;
    width: 90px;
    height: 90px;
    background-color: white; 
    border-radius: 50%;  
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -65px;
  }
}
.reviews__display-inner {
  display: flex;
}
.reviews__avatar {
  width: 254px;
  height: 260px;
}
.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.reviews__content {
  flex: 1;
  margin-left: 20px;
}
.reviews__title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 22px;
  color: black;
}
.reviews__text {
  width: 76%;
  margin-bottom: 36px;
}
.reviews__author {
  color: black;
  font-size: 18px;
  font-weight: 500;
}
.reviews__switcher {
  display: flex;
  justify-content: center;
}