.socials {
  display: flex;
}
.social__item {
  margin-right: rem(20px);

    &:last-child {
      margin-right: 0;
    }
}
.social-icon {
  width: rem(20px);
  height: rem(20px);
  fill: #B3B3B3;
  transition: 0.4s;

  &:hover {
    fill: #000000;
  }
}