.socials {
  display: flex;
}
.social__item {
  margin-right: rem(20px);

    &:last-child {
      margin-right: 0;
    }
}
@each $social in(vk, fb, inst, tw) {
 .social__link--#{$social} {
    background: url("../images/#{$social}.png") center center no-repeat;
    display: block;
    width: rem(23px);
    height: rem(23px);

    &:hover {
      background: url("../images/#{$social}-hover.png")center center no-repeat;
    }
  }
  
}