.team__list {
  display: flex;
  justify-content: space-between;
}
.team__item {
  flex: 1;
  text-align: center;
  margin-right: rem(20px);
  min-height: rem(466px);

  &:last-child {
    margin-right: 0;
  }
}

.team__item--active {
  .team__desc {
    height: rem(125px);
  }
  .team__name::after {
    content: '';
    transform: rotate(-180deg);
  }
}

.team__avatar {
  height: rem(288px);
  margin-bottom: rem(24px);
}
.team__avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.team__name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:  rem(21px);
  font-weight: bold;
  color: #000000;
  position: relative;
  cursor: pointer;

  &::after {
    content: "";
    border-top: 5.5px solid #0f5a47;
    border-left: 4.5px solid transparent;
    border-right: 4.5px solid transparent;
    border-bottom: 0 solid transparent;
    display: block;
    width: 0;
    height: 0;
    margin-left: rem(3px);
  }
}
.team__desc {
  font-size: rem(18px);
  height: 0;
  overflow: hidden;
  transition: height .5s;

  &-title {
    color: #000000;
    font-weight: normal;
  }
  &-text {
    font-weight: 300;
    color: #666666;
  }
}